
/*=======================================================================================================
                                    GENERICOS                      
=======================================================================================================*/

* {
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,a,p, button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    text-transform: uppercase;
    color: rgb(67, 67, 67);
}

.space{
    margin-top: 5px;
    margin-left: 5px;
}

.color-back {
    background-color: rgb(236, 231, 231);
}

/*=======================================================================================================
                                    DROPDONW
=======================================================================================================*/

.drop-conteiner {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: auto;
    background-color: #ffff;
}
 
.dropbtn {
    background-color: #ffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}
    
.dropdown {
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 250px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.centerdrop {
    margin: 0 0 0 -250%;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:rgb(229, 229, 229);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(229, 229, 229);
    transition: .5s;
    box-shadow: 3px 3px rgba(38, 37, 37, 0.159);   
}

.dropdown-inline {
    display: flex;
    flex-direction: row;
}

.drop-img-aux {
    margin-right: 30px;
    height: 50px;
    width: 130px;
    overflow: hidden;

}

.drop-img-conf {
    width: 100%;
}

/* imagens do dropdow*/
.image-logo {
    margin-top: 15px;
    width: 180px;
    height: 80%;
    margin: 0px;
}

.image-drop{
    width: 300px;
    height: 100%;
}

/* itens do dropdow*/
.dropdown-itens {
    padding: 2px;
    background-color: #ffff;
}

/* Botões do dropdow*/
.btn {
    background-color: #ffff;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

/*=======================================================================================================
                                    NAVBAR
=======================================================================================================*/


/*=======================================================================================================
                                    BANNER
=======================================================================================================*/
    
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 250px;
  
}

.banner-back {
    width: 100%;
    height: auto;
    background-position: center;
    background-image: url("slide-6.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #ffff;
    text-align: center;
}

.banner h2 {
    margin-top: 50px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color: #ffff;

}

.banner p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 20px;
    color: #ffff;
}

.banner button {
    margin-top: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
}

.banner button:hover {
    background-color: blue;
    transition: all ease-in-out 300ms;
}

.banner-back-ranking{
    width: 100%;
    height: auto;
    background-position: center;
    background-image: url("slide-7.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #ffff;
    text-align: center;
}


.banner-contnet {
    display: flex;
    position: relative;
    z-index: 10;
}


.banner-icons-conf {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    padding: auto;
    position: relative;
    z-index: 10;

}

.banner-itens {
    height: 200px;
    width: 220px;
    margin-left: 200px;
    margin-top: 25px;
}

.banner-icons {
    margin: 15px;
    margin-left: 25px ;
    height: 70px;
    width: auto;
}

.banner h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    width: 120px;
}

.banner h4 {
    margin: 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
}

.banner-img{
    display: flex;
}

/*
.next-btn {
    padding: 20px;
    background-color: rgba(174, 174, 174, 0.738);
    color: rgb(255, 255, 255);
    float: right;
    margin-top: 100px;
}

.prev-btn {
    padding: 20px;
    background-color: rgba(174, 174, 174, 0.738);
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 100px;
}

.next-btn :hover {
    background-color: rgb(255, 0, 0);
}

.prev-btn :hover {
    background-color: rgb(255, 0, 0);
}
*/




/*=======================================================================================================
                                    News
=======================================================================================================*/

.news-box {
    position: relative;
    background-color: rgb(223, 223, 223);
    height: 560px;
    width: 100%;
}

.news-itens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    width: 80%;
}
    
.news{
    padding-top: 0;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.news img {
    margin: 0%;
    max-width: 100%;
}

.news-list {
    max-width: 200px;
    background-color:rgb(236, 231, 231); 
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

.news-list:hover{
   transform: scale(1.01);
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.news-tittle {
    text-align: start;
    padding: 10px;
    margin: 0;
    background-color: #ffff;
}
.news-tittle h2 {
    color: rgb(167, 166, 166);
    font-family: arial;
    font-size: 12px;
}

.news-tittle p {
    font-family: arial;
    font-size: 12px;
}
/*=======================================================================================================
                                    TOP ATHLETES
=======================================================================================================*/


.athletes {
    height: auto;
    width: 100%;
    background-color:#ffff;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
   
}

.athletes-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.athetes-conteiner {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 25px;
}

.athletes-text {
    background-color: darkorange;
    padding: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: left;
    width: 65%;
}

.athletes-text-block {
    margin-left: 10px;
    text-align: left;
    width: 100%;
    background-color: #ffff;
}

.athletes h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color:rgb(94, 94, 94);
    margin-left: 10px;
}

.athletes b {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin-left: 14px;
    color:rgb(151, 151, 151);
}

.athletes a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    color: rgba(0, 0, 255, 0.521);
}

.athletes img {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 20%;
    border-radius: 50%;
}
.highlight-athletes{
    max-width: 250px;
    align-items: center;
    background-color:#ffff; 
}

.athletes-name  {
    text-align: center;
    margin-left: 20px;
}

.athletes-name h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight:normal;
    color:rgb(151, 151, 151);
    margin: 0;
}

.athletes-name p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color:rgb(151, 151, 151);
    margin: 0;
    margin-bottom: 5px;
}

.highlight-athletes:hover {
    transform: scale(1.01);
    background-color: rgb(236, 231, 231);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    z-index: 1;
}

/*=======================================================================================================
                                   FOOTER
=======================================================================================================*/

.footer {
    height: 180px;
    background-color: rgb(100, 100, 100);
}

.footer-img{
    margin-top: 15px;
    margin-left: 15px;
    height: 150px;
}


.footer-alingn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-img-conf {
  margin: 20PX;
}

.footer-img {
    height: 40px;
    width: 100px;
    width: 100%;
}

.footer-content a {
    color: rgb(255, 255, 255);
    padding: 2px 6px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.footer-text {
    margin-top: 10px;
    margin-left: 40px;
    list-style-type: none;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    
}

.footer-text h2 {
    font-size: bold;
    color: #ffff;
    margin: 10px;
}

.footer-text a {
    font-size:14 px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-left: 5px;
}

.footer-text i {
    margin-left: 4px;
}

.footer-animation:hover {
    transform: scale(1.02);
    font-size: bold;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

/*=======================================================================================================
                                    PAGES
=======================================================================================================*/

/* Página de apresentação */

.back {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: darkorange;
}

.apresentation {
    margin-top: 5px;
    height: auto;
    width: 100%;
}

.apresentation-conf {  
    width: 100%;
    overflow: hidden;
}

.back-text{ 
    background-color: darkorange;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
    width: 80%;
}

.title-block {
    margin-left: 10px;
    text-align: left;
    width: 100%;
}

.title-block h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-left: 5px;
   
}

.title-block p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 2px;
    margin-left: 5px;   
}

.text-block {
    height: 100%;
    width: 60%;
    margin: 2px;
    margin-left: 300px;
    overflow: hidden;
}   

.text-block p {
   
    font-size: 16px;
    margin: 15px;
}

.text-block-aux p {
    margin: 0;
}

.text-block ul {
    margin-left: 15px;
}

.text-block li {
    text-align: center;
}

.text-block-title {
    font-weight: bold;
}

.text-block-table {
    text-align: left;
    margin: 0;
}

.forms-conf{
    height: 400px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 350px;
    overflow: hidden;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffff;
}
.forms-check {
   width: 100%;
   margin: 5px;

}

.forms-check input {
    height: 30px;
    width: 100%;
    margin-top: 5px;
}   


input[type=checkbox] {
    height: 16px;
    width: 16px;
}
/*
input [ type=form_text] {
    height: 30px;
    width: 100%;
    margin-top: 5px;
}
*/
.forms-conf a {
    color: blue;
}

.forms-conf h1 {
    font-weight:lighter;
    font-size: 45px;
}

.forms-conf button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: #ffff;
    background-color: darkorange;
}


/*=======================================================================================================
                                   RESPONSIVE
=======================================================================================================*/


/* SMALL SCREENS*/
@media ( max-width:600px ) {

    .mobile {
        display: flex;
        flex-direction: column;
        width: 97%;
        align-items: flex-start;
    }

    .oculte-mobile {
        display: none;
    }

    .view-mobile {
        display: flex;
    }

    .drop-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 40px;
        width: 100%;
        background-color: rgb(26, 25, 25);
    }

    .drop-mobile h2 {
        padding-top: 7px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 6px;
        font-size: x-large;
        color: #ffff;
        align-items: center;
        border-left: 1px solid #ffff;
        border-right: 1px solid #ffff;
    }

    .drop-mobile button {
        height: 40px;
        width: 40px;
        border: 5px #ffff;
        color: #ffff;
        background-color: rgb(26, 25, 25);
    }

    .content-mobile{
        height: 100%;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .size-mobile {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .conf-mobile {
        display: flex;
        width: max-content;
    }

    .mobile-text {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .mobile-text h2 {
        font-size:xx-large;
    }

    .mobile-text b {
        font-size: medium;
        margin-right: 40px;
    }

    .mobile-footer {
       margin-right: 100%;
       align-items: flex-start;
    }


    

}