{% load static %}
<div class="athletes">
    <div class="athletes-text mobile-text">
        <div class="athletes-text-block color-back">
            <h2>Top atletas</h2>
            <b>Nossos estrelas brilham primeiro por aqui</b>
            <a href="#">Veja todos os atletas.</a>
        </div>
    </div>

    <div class="athletes-content mobile">
        <div class="athetes-conteiner">
            <div class="top-athletes">
                <div class="highlight-athletes">
                    <div class="athletes-img">
                        <img src=" {% static 'academia/img/atleta_joao_celino_ranking.JPG' %} " alt="">
                    </div>

                    <div class=" athletes-name ">
                        <h3>João Celino Gualberto </h3>
                        <p> 1º Lugar Masculino.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>