{% load static %}

<footer>
    <div class="footer content-mobile">
        <div class="footer-content mobile">
            <div class="footer-alingn mobile">
                <div class="footer-img-conf ">
                    <img class="footer-img" src= " {% static 'academia/img/logo.png' %} " alt="">
                </div>
                <div class="footer-text">
                    <h3>Proximos eventos</h3>
                    <ul>
                        <a class="footer-animation" href="#"> 23/09 Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </a>
                        <a class="footer-animation" href="#"> 09/10 Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                        <a class="footer-animation" href="#"> 14/10 Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                        <a class="footer-animation" href="#"> 14/10 Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                        <a class="footer-animation" href="#"> 11/12 Lorem Ipsum is simply dummy text of the printing and typesetting industry. </a>
                    </ul>
                </div>

                <div class="footer-text oculte-mobile ">
                    <h3>Filiação</h3>
                    <ul>
                        <a class="footer-animation" href="#">Atletas</a>
                        <a class="footer-animation" href="#">Professores</a>
                        <a class="footer-animation" href="#">Academias</a>
                        <a class="footer-animation" href="#">Benefícios</a>
                        <a class="footer-animation" href="#">Outros</a>
                    </ul>
                </div>
                <div class="footer-text oculte-mobile ">
                    <h3>Sobre academia</h3>
                    <ul>
                        <a class="footer-animation" href="#">Sobre</a>
                        <a class="footer-animation" href="#">Diretoria</a>
                        <a class="footer-animation" href="#">Associe-se</a>
                        <a class="footer-animation" href="#">Sitemap</a>
                        <a class="footer-animation" href="#">Contato</a>
                    </ul>
                </div>
                <div class="footer-text ">
                    
                    <ul class="oculte-mobile">
                        <h3>Redes socias</h3>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-facebook space"></i>
                            facebook</a>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-twitter space"></i> Twitter</a>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-instagram space">
                            </i>Instagram</a>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-youtube space"> </i>Youtube</a>
                        <a class="footer-animation" href="#"> <i class="fa-sharp fa-solid fa-hashtag"></i> Feed</a>
                    </ul>

                    <ul class="view-mobile size-social" >
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-facebook space"></i></a>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-twitter space"></i></a>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-instagram space"></i></a>
                        <a class="footer-animation" href="#"> <i class="fa-brands fa-youtube space"> </i></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>