{% load static %}

<div class="navbar" >
    <div class="nav-conteiner" id="myNav">
        <div class="navbar-content" >
            <img class="navbar-img"  src= " {% static 'academia/img/logo.png' %} " alt="">
            <a href="#"> <i class="fa-sharp fa-solid fa-house-chimney"></i> Pagina Inicial</a><br>
            <a href="#"> <i class="fa-sharp fa-solid fa-newspaper"></i> Quem somos</a><br>
            <a href="#"> <i class="fa-sharp fa-solid fa-newspaper"></i> Notícias</a><br>
            <a href="#"> <i class="fa-sharp fa-regular fa-calendar-days"></i> Agenda</a><br>
            <a href="#"> <i class="fa-sharp fa-solid fa-ranking-star"></i> Rankig</a><br>
            <a href="#"> <i class="fa-sharp fa-solid fa-book"></i> Regras</a><br>
            <a href="#"> <i class="fa-sharp fa-solid fa-user-ninja"></i> Atletas</a><br>
            <a href="#"> <i class="fa-sharp fa-solid fa-user-large"></i> Professores</a><br>
        </div>
        <a href="javaScript:void(0)" class="close-btn" onclick="closeNav()"><i class="fa-sharp fa-solid fa-xmark"></i></a>
    </div>
</div>